header{
    display:flex;
    /* background-color:white ; */
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    padding: 0px 10%;
    /* box-shadow: 0 0 10px #1f242d; */
}

a{
    text-decoration: none;
    font-size: large;
    padding: 10px;
    color: black;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#Stephen-user,
#peter-user {
    border: 2px solid #0ef;
    padding: 5px 0px;
    height: 350px;
    width: 250px;
    background-color: #f1f1f1;
}
#Stephen-user div,
#peter-user div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#input-field{
    display: block;
    margin-top: 200px;
}



#input-field input{
    width: 68%;
    padding: 8px;
    border: none;
    outline: none;
}
#input-field button{
    padding: 7px 10px;
    background-color: white;
    border: none;
    width: 25%;
}


@media screen  and (max-width:700px){
    header{
        display:block;
        /* background-color:white ; */
        align-items: center;
        gap: 50px;
        justify-content: space-between;
        padding: 0px 2%;
        /* box-shadow: 0 0 10px #1f242d; */
        text-align: center;
    }

    section{
        display: block;
        /* align-items: center;
        justify-content: center;
        gap: 40px; */
        text-align: center;
        margin: 10px auto;
        width: 100%;
    }
}